.app {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.container-self {
  background: pink;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  margin: 10% auto;
  padding: 2% 0%;
  width: 20%;
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 2s ease 1 normal;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container-followers {
  background: pink;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  margin: 10% auto;
  padding: 2% 0%;
  width: 20%;
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 2s ease 1 normal;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
